<a href="https://colab.research.google.com/github/fidanismayilzada23/Data-Analitc/blob/main/%C4%B0MDBanalis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Dataset haqqında ümumi məlumat

In [82]:
# pandasi import edin ve imbd datasetini yukleyin
import pandas as pd
df=pd.read_csv('/content/imdbTop250.csv')
df

,Ranking,IMDByear,IMDBlink,Title,Date,RunTime,Genre,Rating,Score,Votes,Gross,Director,Cast1,Cast2,Cast3,Cast4
0,1,1996,/title/tt0076759/,Star Wars: Episode IV - A New Hope,1977,121,"Action, Adventure, Fantasy",8.6,90.0,1299781,322.74,George Lucas,Mark Hamill,Harrison Ford,Carrie Fisher,Alec Guinness
1,2,1996,/title/tt0111161/,The Shawshank Redemption,1994,142,Drama,9.3,80.0,2529673,28.34,Frank Darabont,Tim Robbins,Morgan Freeman,Bob Gunton,William Sadler
2,3,1996,/title/tt0117951/,Trainspotting,1996,93,Drama,8.1,83.0,665213,16.50,Danny Boyle,Ewan McGregor,Ewen Bremner,Jonny Lee Miller,Kevin McKidd
3,4,1996,/title/tt0114814/,The Usual Suspects,1995,106,"Crime, Drama, Mystery",8.5,77.0,1045626,23.34,Bryan Singer,Kevin Spacey,Gabriel Byrne,Chazz Palminteri,Stephen Baldwin
4,5,1996,/title/tt0108598/,The Wrong Trousers,1993,30,"Animation, Short, Comedy",8.3,NaN,53316,NaN,Nick Park,Peter Sallis,Peter Hawkins,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6495,246,2021,/title/tt0058946/,The Battle of Algiers,1966,121,"Drama, War",8.1,96.0,57995,0.06,Gillo Pontecorvo,Brahim Hadjadj,Jean Martin,Yacef Saadi,Samia Kerbash
6496,247,2021,/title/tt0050783/,Nights of Cabiria,1957,110,Drama,8.1,NaN,47318,0.75,Federico Fellini,Giulietta Masina,François Périer,Franca Marzi,Dorian Gray
6497,248,2021,/title/tt0093779/,The Princess Bride,1987,98,"Adventure, Family, Fantasy",8.1,77.0,416207,30.86,Rob Reiner,Cary Elwes,Mandy Patinkin,Robin Wright,Chris Sarandon
6498,249,2021,/title/tt7060344/,Raatchasan,2018,170,"Crime, Drama, Mystery",8.4,NaN,37474,NaN,Ram Kumar,Vishnu Vishal,Amala Paul,Radha Ravi,Sangili Murugan
6499,250,2021,/title/tt10280296/,Sardar Udham,2021,164,"Biography, Crime, Drama",8.7,NaN,34889,NaN,Shoojit Sircar,Vicky Kaushal,Banita Sandhu,Shaun Scott,Stephen Hogan

In [83]:
# Datasetin ilk 10 sətrini ekrana çıxarın.
df.head(10)

,Ranking,IMDByear,IMDBlink,Title,Date,RunTime,Genre,Rating,Score,Votes,Gross,Director,Cast1,Cast2,Cast3,Cast4
0,1,1996,/title/tt0076759/,Star Wars: Episode IV - A New Hope,1977,121,"Action, Adventure, Fantasy",8.6,90.0,1299781,322.74,George Lucas,Mark Hamill,Harrison Ford,Carrie Fisher,Alec Guinness
1,2,1996,/title/tt0111161/,The Shawshank Redemption,1994,142,Drama,9.3,80.0,2529673,28.34,Frank Darabont,Tim Robbins,Morgan Freeman,Bob Gunton,William Sadler
2,3,1996,/title/tt0117951/,Trainspotting,1996,93,Drama,8.1,83.0,665213,16.50,Danny Boyle,Ewan McGregor,Ewen Bremner,Jonny Lee Miller,Kevin McKidd
3,4,1996,/title/tt0114814/,The Usual Suspects,1995,106,"Crime, Drama, Mystery",8.5,77.0,1045626,23.34,Bryan Singer,Kevin Spacey,Gabriel Byrne,Chazz Palminteri,Stephen Baldwin
4,5,1996,/title/tt0108598/,The Wrong Trousers,1993,30,"Animation, Short, Comedy",8.3,NaN,53316,NaN,Nick Park,Peter Sallis,Peter Hawkins,NaN,NaN
5,6,1996,/title/tt0112691/,A Close Shave,1995,30,"Animation, Short, Comedy",8.1,NaN,40586,NaN,Nick Park,Peter Sallis,Anne Reid,Justin Fletcher,Peter Hawkins
6,7,1996,/title/tt0117731/,Star Trek: First Contact,1996,111,"Action, Adventure, Drama",7.6,71.0,122819,92.00,Jonathan Frakes,Patrick Stewart,Jonathan Frakes,Brent Spiner,LeVar Burton
7,8,1996,/title/tt0034583/,Casablanca,1942,102,"Drama, Romance, War",8.5,100.0,551575,1.02,Michael Curtiz,Humphrey Bogart,Ingrid Bergman,Paul Henreid,Claude Rains
8,9,1996,/title/tt0083658/,Blade Runner,1982,117,"Action, Drama, Sci-Fi",8.1,84.0,736925,32.87,Ridley Scott,Harrison Ford,Rutger Hauer,Sean Young,Edward James Olmos
9,10,1996,/title/tt0108052/,Schindler's List,1993,195,"Biography, Drama, History",8.9,94.0,1292510,96.90,Steven Spielberg,Liam Neeson,Ralph Fiennes,Ben Kingsley,Caroline Goodall

In [84]:
# Datasetin sütun adlarını göstərin.
df.columns

Index(['Ranking', 'IMDByear', 'IMDBlink', 'Title', 'Date', 'RunTime', 'Genre',
       'Rating', 'Score', 'Votes', 'Gross', 'Director', 'Cast1', 'Cast2',
       'Cast3', 'Cast4'],
      dtype='object')

In [85]:
# Datasetdə neçə sətrin və neçə sütunun olduğunu tapın.
print(df.shape[1])
print(df.shape[0])

16
6500

In [86]:
# Hər bir sütunun data tipini (dtype) göstərən kod yazın.
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6500 entries, 0 to 6499
Data columns (total 16 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Ranking   6500 non-null   int64
 1   IMDByear  6500 non-null   int64
 2   IMDBlink  6500 non-null   object
 3   Title     6500 non-null   object
 4   Date      6500 non-null   int64
 5   RunTime   6500 non-null   int64
 6   Genre     6500 non-null   object
 7   Rating    6500 non-null   float64
 8   Score     5674 non-null   float64
 9   Votes     6500 non-null   int64
 10  Gross     5691 non-null   float64
 11  Director  6500 non-null   object
 12  Cast1     6500 non-null   object
 13  Cast2     6500 non-null   object
 14  Cast3     6492 non-null   object
 15  Cast4     6492 non-null   object
dtypes: float64(3), int64(5), object(8)
memory usage: 812.6+ KB

In [87]:
# Datasetdə ümumilikdə neçə null dəyər olduğunu tapın.
df.isnull().sum().sum()

np.int64(1651)

In [88]:
# Hər sütundakı null dəyərlərin sayını çıxarın.
df.isnull().sum()

Ranking       0
IMDByear      0
IMDBlink      0
Title         0
Date          0
RunTime       0
Genre         0
Rating        0
Score       826
Votes         0
Gross       809
Director      0
Cast1         0
Cast2         0
Cast3         8
Cast4         8
dtype: int64

In [89]:
# Score sütunundakı null dəyərləri median ilə doldurun.
df['Score']=df['Score'].fillna(df['Score'].median())
df

,Ranking,IMDByear,IMDBlink,Title,Date,RunTime,Genre,Rating,Score,Votes,Gross,Director,Cast1,Cast2,Cast3,Cast4
0,1,1996,/title/tt0076759/,Star Wars: Episode IV - A New Hope,1977,121,"Action, Adventure, Fantasy",8.6,90.0,1299781,322.74,George Lucas,Mark Hamill,Harrison Ford,Carrie Fisher,Alec Guinness
1,2,1996,/title/tt0111161/,The Shawshank Redemption,1994,142,Drama,9.3,80.0,2529673,28.34,Frank Darabont,Tim Robbins,Morgan Freeman,Bob Gunton,William Sadler
2,3,1996,/title/tt0117951/,Trainspotting,1996,93,Drama,8.1,83.0,665213,16.50,Danny Boyle,Ewan McGregor,Ewen Bremner,Jonny Lee Miller,Kevin McKidd
3,4,1996,/title/tt0114814/,The Usual Suspects,1995,106,"Crime, Drama, Mystery",8.5,77.0,1045626,23.34,Bryan Singer,Kevin Spacey,Gabriel Byrne,Chazz Palminteri,Stephen Baldwin
4,5,1996,/title/tt0108598/,The Wrong Trousers,1993,30,"Animation, Short, Comedy",8.3,85.0,53316,NaN,Nick Park,Peter Sallis,Peter Hawkins,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6495,246,2021,/title/tt0058946/,The Battle of Algiers,1966,121,"Drama, War",8.1,96.0,57995,0.06,Gillo Pontecorvo,Brahim Hadjadj,Jean Martin,Yacef Saadi,Samia Kerbash
6496,247,2021,/title/tt0050783/,Nights of Cabiria,1957,110,Drama,8.1,85.0,47318,0.75,Federico Fellini,Giulietta Masina,François Périer,Franca Marzi,Dorian Gray
6497,248,2021,/title/tt0093779/,The Princess Bride,1987,98,"Adventure, Family, Fantasy",8.1,77.0,416207,30.86,Rob Reiner,Cary Elwes,Mandy Patinkin,Robin Wright,Chris Sarandon
6498,249,2021,/title/tt7060344/,Raatchasan,2018,170,"Crime, Drama, Mystery",8.4,85.0,37474,NaN,Ram Kumar,Vishnu Vishal,Amala Paul,Radha Ravi,Sangili Murugan
6499,250,2021,/title/tt10280296/,Sardar Udham,2021,164,"Biography, Crime, Drama",8.7,85.0,34889,NaN,Shoojit Sircar,Vicky Kaushal,Banita Sandhu,Shaun Scott,Stephen Hogan

In [90]:
# Gross sutunundaki null deyerleri ortalama ile doldurun
df['Gross']=df['Gross'].fillna(df['Gross'].mean())
df

,Ranking,IMDByear,IMDBlink,Title,Date,RunTime,Genre,Rating,Score,Votes,Gross,Director,Cast1,Cast2,Cast3,Cast4
0,1,1996,/title/tt0076759/,Star Wars: Episode IV - A New Hope,1977,121,"Action, Adventure, Fantasy",8.6,90.0,1299781,322.740000,George Lucas,Mark Hamill,Harrison Ford,Carrie Fisher,Alec Guinness
1,2,1996,/title/tt0111161/,The Shawshank Redemption,1994,142,Drama,9.3,80.0,2529673,28.340000,Frank Darabont,Tim Robbins,Morgan Freeman,Bob Gunton,William Sadler
2,3,1996,/title/tt0117951/,Trainspotting,1996,93,Drama,8.1,83.0,665213,16.500000,Danny Boyle,Ewan McGregor,Ewen Bremner,Jonny Lee Miller,Kevin McKidd
3,4,1996,/title/tt0114814/,The Usual Suspects,1995,106,"Crime, Drama, Mystery",8.5,77.0,1045626,23.340000,Bryan Singer,Kevin Spacey,Gabriel Byrne,Chazz Palminteri,Stephen Baldwin
4,5,1996,/title/tt0108598/,The Wrong Trousers,1993,30,"Animation, Short, Comedy",8.3,85.0,53316,70.709617,Nick Park,Peter Sallis,Peter Hawkins,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6495,246,2021,/title/tt0058946/,The Battle of Algiers,1966,121,"Drama, War",8.1,96.0,57995,0.060000,Gillo Pontecorvo,Brahim Hadjadj,Jean Martin,Yacef Saadi,Samia Kerbash
6496,247,2021,/title/tt0050783/,Nights of Cabiria,1957,110,Drama,8.1,85.0,47318,0.750000,Federico Fellini,Giulietta Masina,François Périer,Franca Marzi,Dorian Gray
6497,248,2021,/title/tt0093779/,The Princess Bride,1987,98,"Adventure, Family, Fantasy",8.1,77.0,416207,30.860000,Rob Reiner,Cary Elwes,Mandy Patinkin,Robin Wright,Chris Sarandon
6498,249,2021,/title/tt7060344/,Raatchasan,2018,170,"Crime, Drama, Mystery",8.4,85.0,37474,70.709617,Ram Kumar,Vishnu Vishal,Amala Paul,Radha Ravi,Sangili Murugan
6499,250,2021,/title/tt10280296/,Sardar Udham,2021,164,"Biography, Crime, Drama",8.7,85.0,34889,70.709617,Shoojit Sircar,Vicky Kaushal,Banita Sandhu,Shaun Scott,Stephen Hogan

In [91]:
# Cast3 ve Cast4 sütunlarindakı null dəyərləri əvvəlki sətirdəki dəyərlə (ffill) doldurun.
df[['Cast3','Cast4']]=df[['Cast3','Cast4']].fillna(method='ffill')

/tmp/ipython-input-482058981.py:2: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df[['Cast3','Cast4']]=df[['Cast3','Cast4']].fillna(method='ffill')

In [92]:
df.isnull().sum()

Ranking     0
IMDByear    0
IMDBlink    0
Title       0
Date        0
RunTime     0
Genre       0
Rating      0
Score       0
Votes       0
Gross       0
Director    0
Cast1       0
Cast2       0
Cast3       0
Cast4       0
dtype: int64

# Əsas statistik analiz

In [93]:
# IMDb rating kolonunun maksimum, minimum və orta qiymətlərini tapın.
df['Rating'].max()

9.3

In [94]:
df['Rating'].min()

5.5

In [95]:
df['Rating'].mean()

np.float64(8.171430769230769)

In [96]:
# Ən yüksək rating alan filmi tapın (title və rating).    #loc idxmax
df.loc[df['Rating'].idxmax()][['Title','Rating']]

Title     The Shawshank Redemption
Rating                         9.3
Name: 1, dtype: object

In [97]:
# Ən aşağı rating alan filmi tapın.
df.loc[df['Rating'].idxmin()][['Title','Rating']]

Title     Tom and Huck
Rating             5.5
Name: 145, dtype: object

In [98]:
# Date sütununda ən köhnə və ən yeni filmin illerini tapın.
print('En köhne filmin ili:', df['Date'].min())
print('En yeni filmin ili:', df['Date'].max())

En köhne filmin ili: 1920
En yeni filmin ili: 2021

# Filtrləmə və seçmə

In [99]:
# IMDb reytinqi 8.5-dən yüksək olan filmləri seçin.
df[df['Rating']>8.5]

,Ranking,IMDByear,IMDBlink,Title,Date,RunTime,Genre,Rating,Score,Votes,Gross,Director,Cast1,Cast2,Cast3,Cast4
0,1,1996,/title/tt0076759/,Star Wars: Episode IV - A New Hope,1977,121,"Action, Adventure, Fantasy",8.6,90.0,1299781,322.740000,George Lucas,Mark Hamill,Harrison Ford,Carrie Fisher,Alec Guinness
1,2,1996,/title/tt0111161/,The Shawshank Redemption,1994,142,Drama,9.3,80.0,2529673,28.340000,Frank Darabont,Tim Robbins,Morgan Freeman,Bob Gunton,William Sadler
9,10,1996,/title/tt0108052/,Schindler's List,1993,195,"Biography, Drama, History",8.9,94.0,1292510,96.900000,Steven Spielberg,Liam Neeson,Ralph Fiennes,Ben Kingsley,Caroline Goodall
11,12,1996,/title/tt0110912/,Pulp Fiction,1994,154,"Crime, Drama",8.9,94.0,1948662,107.930000,Quentin Tarantino,John Travolta,Uma Thurman,Samuel L. Jackson,Bruce Willis
13,14,1996,/title/tt0068646/,The Godfather,1972,175,"Crime, Drama",9.2,100.0,1741574,134.970000,Francis Ford Coppola,Marlon Brando,Al Pacino,James Caan,Diane Keaton
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6279,30,2021,/title/tt0120689/,The Green Mile,1999,189,"Crime, Drama, Fantasy",8.6,61.0,1230724,136.800000,Frank Darabont,Tom Hanks,Michael Clarke Duncan,David Morse,Bonnie Hunt
6280,31,2021,/title/tt6751668/,Parasite,2019,132,"Comedy, Drama, Thriller",8.6,96.0,707824,53.370000,Bong Joon Ho,Kang-ho Song,Sun-kyun Lee,Yeo-jeong Cho,Woo-sik Choi
6282,33,2021,/title/tt0056058/,Hara-Kiri,1962,133,"Action, Drama, Mystery",8.6,85.0,51625,70.709617,Masaki Kobayashi,Tatsuya Nakadai,Akira Ishihama,Shima Iwashita,Tetsurô Tanba
6389,140,2021,/title/tt15097216/,Jai Bhim,2021,164,"Crime, Drama",9.3,85.0,169008,70.709617,T.J. Gnanavel,Suriya,Lijo Mol Jose,Manikandan,Rajisha Vijayan
6499,250,2021,/title/tt10280296/,Sardar Udham,2021,164,"Biography, Crime, Drama",8.7,85.0,34889,70.709617,Shoojit Sircar,Vicky Kaushal,Banita Sandhu,Shaun Scott,Stephen Hogan

In [100]:
# 2000–2010 illəri arasında çıxmış filmləri siyahıya alın
df[df['Date'].between(2000,2010)]

,Ranking,IMDByear,IMDBlink,Title,Date,RunTime,Genre,Rating,Score,Votes,Gross,Director,Cast1,Cast2,Cast3,Cast4
1050,51,2000,/title/tt0181875/,Almost Famous,2000,122,"Adventure, Comedy, Drama",7.9,90.0,268773,32.53,Cameron Crowe,Billy Crudup,Patrick Fugit,Kate Hudson,Frances McDormand
1059,60,2000,/title/tt0190332/,"Crouching Tiger, Hidden Dragon",2000,120,"Action, Adventure, Drama",7.8,94.0,263426,128.08,Ang Lee,Chow Yun-Fat,Michelle Yeoh,Ziyi Zhang,Chang Chen
1076,77,2000,/title/tt0172495/,Gladiator,2000,155,"Action, Adventure, Drama",8.5,67.0,1428299,187.71,Ridley Scott,Russell Crowe,Joaquin Phoenix,Connie Nielsen,Oliver Reed
1137,138,2000,/title/tt0168629/,Dancer in the Dark,2000,140,"Crime, Drama, Musical",8.0,61.0,107330,4.18,Lars von Trier,Björk,Catherine Deneuve,David Morse,Peter Stormare
1149,150,2000,/title/tt0180093/,Requiem for a Dream,2000,102,Drama,8.3,68.0,807807,3.64,Darren Aronofsky,Ellen Burstyn,Jared Leto,Jennifer Connelly,Marlon Wayans
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6482,233,2021,/title/tt0118694/,In the Mood for Love,2000,98,"Drama, Romance",8.1,85.0,141277,2.73,Kar-Wai Wong,Tony Chiu-Wai Leung,Maggie Cheung,Siu Ping-Lam,Tung Cho 'Joe' Cheung
6483,234,2021,/title/tt0395169/,Hotel Rwanda,2004,121,"Biography, Drama, History",8.1,79.0,347420,23.53,Terry George,Don Cheadle,Sophie Okonedo,Joaquin Phoenix,Xolani Mali
6486,237,2021,/title/tt0758758/,Into the Wild,2007,148,"Adventure, Biography, Drama",8.1,73.0,603802,18.35,Sean Penn,Emile Hirsch,Vince Vaughn,Catherine Keener,Marcia Gay Harden
6488,239,2021,/title/tt0245712/,Amores perros,2000,154,"Drama, Thriller",8.1,83.0,234866,5.38,Alejandro G. Iñárritu,Emilio Echevarría,Gael García Bernal,Goya Toledo,Álvaro Guerrero
6491,242,2021,/title/tt0381681/,Before Sunset,2004,80,"Drama, Romance",8.1,90.0,252593,5.82,Richard Linklater,Ethan Hawke,Julie Delpy,Vernon Dobtcheff,Louise Lemoine Torrès

In [101]:
# Rating-i 9.0–dan yüksək olan ilk 5 filmi seçin.
df[df['Rating']>9.0].head()

,Ranking,IMDByear,IMDBlink,Title,Date,RunTime,Genre,Rating,Score,Votes,Gross,Director,Cast1,Cast2,Cast3,Cast4
1,2,1996,/title/tt0111161/,The Shawshank Redemption,1994,142,Drama,9.3,80.0,2529673,28.34,Frank Darabont,Tim Robbins,Morgan Freeman,Bob Gunton,William Sadler
13,14,1996,/title/tt0068646/,The Godfather,1972,175,"Crime, Drama",9.2,100.0,1741574,134.97,Francis Ford Coppola,Marlon Brando,Al Pacino,James Caan,Diane Keaton
250,1,1997,/title/tt0111161/,The Shawshank Redemption,1994,142,Drama,9.3,80.0,2529673,28.34,Frank Darabont,Tim Robbins,Morgan Freeman,Bob Gunton,William Sadler
252,3,1997,/title/tt0068646/,The Godfather,1972,175,"Crime, Drama",9.2,100.0,1741574,134.97,Francis Ford Coppola,Marlon Brando,Al Pacino,James Caan,Diane Keaton
500,1,1998,/title/tt0111161/,The Shawshank Redemption,1994,142,Drama,9.3,80.0,2529673,28.34,Frank Darabont,Tim Robbins,Morgan Freeman,Bob Gunton,William Sadler

# Qruplaşdırma və sıralama

In [112]:
# Filmləri il üzrə qruplaşdırın və hər ilin orta IMDb reytinqini hesablayın.
df.groupby('Date')['Rating'].mean()

Date
1920    8.100000
1921    8.300000
1922    7.900000
1923    8.100000
1924    8.200000
          ...
2017    8.161111
2018    8.280000
2019    8.275000
2020    8.300000
2021    8.700000
Name: Rating, Length: 101, dtype: float64

In [114]:
# Filmləri IMDb rating-ə görə azalan sırayla düzün.
df.sort_values('Rating', ascending=True)

,Ranking,IMDByear,IMDBlink,Title,Date,RunTime,Genre,Rating,Score,Votes,Gross,Director,Cast1,Cast2,Cast3,Cast4
145,146,1996,/title/tt0112302/,Tom and Huck,1995,97,"Adventure, Comedy, Drama",5.5,85.0,10646,23.740000,Peter Hewitt,Jonathan Taylor Thomas,Brad Renfro,Charles Rocket,Eric Schweig
144,145,1996,/title/tt0080520/,Cheech and Chong's Next Movie,1980,99,"Comedy, Crime, Sci-Fi",6.1,66.0,13864,41.680000,Tommy Chong,Cheech Marin,Tommy Chong,Evelyn Guerrero,Betty Kennedy
164,165,1996,/title/tt0117333/,Phenomenon,1996,123,"Drama, Fantasy, Romance",6.4,85.0,78129,104.640000,Jon Turteltaub,John Travolta,Kyra Sedgwick,Forest Whitaker,Robert Duvall
80,81,1996,/title/tt0105946/,Babylon 5,1993,89,"Action, Adventure, Drama",6.5,85.0,9194,70.709617,Richard Compton,Michael O'Hare,Tamlyn Tomita,Jerry Doyle,Mira Furlan
177,178,1996,/title/tt0092610/,Bad Taste,1987,91,"Comedy, Horror, Sci-Fi",6.5,85.0,46184,70.709617,Peter Jackson,Terry Potter,Pete O'Herne,Craig Smith,Mike Minett
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5750,1,2019,/title/tt0111161/,The Shawshank Redemption,1994,142,Drama,9.3,80.0,2529673,28.340000,Frank Darabont,Tim Robbins,Morgan Freeman,Bob Gunton,William Sadler
1751,2,2003,/title/tt0111161/,The Shawshank Redemption,1994,142,Drama,9.3,80.0,2529673,28.340000,Frank Darabont,Tim Robbins,Morgan Freeman,Bob Gunton,William Sadler
4500,1,2014,/title/tt0111161/,The Shawshank Redemption,1994,142,Drama,9.3,80.0,2529673,28.340000,Frank Darabont,Tim Robbins,Morgan Freeman,Bob Gunton,William Sadler
3000,1,2008,/title/tt0111161/,The Shawshank Redemption,1994,142,Drama,9.3,80.0,2529673,28.340000,Frank Darabont,Tim Robbins,Morgan Freeman,Bob Gunton,William Sadler
1,2,1996,/title/tt0111161/,The Shawshank Redemption,1994,142,Drama,9.3,80.0,2529673,28.340000,Frank Darabont,Tim Robbins,Morgan Freeman,Bob Gunton,William Sadler

In [117]:
# Rating × votes ilə “IMDB_score_power” adlı yeni sütun yaradın (yüksək reytinq * çox səs = daha güclü film).
df['IMDB_score_power']=df['Rating']*df['Votes']
df

,Ranking,IMDByear,IMDBlink,Title,Date,RunTime,Genre,Rating,Score,Votes,Gross,Director,Cast1,Cast2,Cast3,Cast4,IMDB_score_power
0,1,1996,/title/tt0076759/,Star Wars: Episode IV - A New Hope,1977,121,"Action, Adventure, Fantasy",8.6,90.0,1299781,322.740000,George Lucas,Mark Hamill,Harrison Ford,Carrie Fisher,Alec Guinness,11178116.6
1,2,1996,/title/tt0111161/,The Shawshank Redemption,1994,142,Drama,9.3,80.0,2529673,28.340000,Frank Darabont,Tim Robbins,Morgan Freeman,Bob Gunton,William Sadler,23525958.9
2,3,1996,/title/tt0117951/,Trainspotting,1996,93,Drama,8.1,83.0,665213,16.500000,Danny Boyle,Ewan McGregor,Ewen Bremner,Jonny Lee Miller,Kevin McKidd,5388225.3
3,4,1996,/title/tt0114814/,The Usual Suspects,1995,106,"Crime, Drama, Mystery",8.5,77.0,1045626,23.340000,Bryan Singer,Kevin Spacey,Gabriel Byrne,Chazz Palminteri,Stephen Baldwin,8887821.0
4,5,1996,/title/tt0108598/,The Wrong Trousers,1993,30,"Animation, Short, Comedy",8.3,85.0,53316,70.709617,Nick Park,Peter Sallis,Peter Hawkins,Chazz Palminteri,Stephen Baldwin,442522.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6495,246,2021,/title/tt0058946/,The Battle of Algiers,1966,121,"Drama, War",8.1,96.0,57995,0.060000,Gillo Pontecorvo,Brahim Hadjadj,Jean Martin,Yacef Saadi,Samia Kerbash,469759.5
6496,247,2021,/title/tt0050783/,Nights of Cabiria,1957,110,Drama,8.1,85.0,47318,0.750000,Federico Fellini,Giulietta Masina,François Périer,Franca Marzi,Dorian Gray,383275.8
6497,248,2021,/title/tt0093779/,The Princess Bride,1987,98,"Adventure, Family, Fantasy",8.1,77.0,416207,30.860000,Rob Reiner,Cary Elwes,Mandy Patinkin,Robin Wright,Chris Sarandon,3371276.7
6498,249,2021,/title/tt7060344/,Raatchasan,2018,170,"Crime, Drama, Mystery",8.4,85.0,37474,70.709617,Ram Kumar,Vishnu Vishal,Amala Paul,Radha Ravi,Sangili Murugan,314781.6
6499,250,2021,/title/tt10280296/,Sardar Udham,2021,164,"Biography, Crime, Drama",8.7,85.0,34889,70.709617,Shoojit Sircar,Vicky Kaushal,Banita Sandhu,Shaun Scott,Stephen Hogan,303534.3

In [121]:
# Datasetdə təkrarlanan sətir (duplicate) olub-olmadığını yoxlayın və varsa silin.
df.drop_duplicates().sum()

Ranking                                                        815750
IMDByear                                                     13055250
IMDBlink            /title/tt0076759//title/tt0111161//title/tt011...
Title               Star Wars: Episode IV - A New HopeThe Shawshan...
Date                                                         12861221
RunTime                                                        816422
Genre               Action, Adventure, FantasyDramaDramaCrime, Dra...
Rating                                                        53114.3
Score                                                        548229.0
Votes                                                      3148275806
Gross                                                   459612.510104
Director            George LucasFrank DarabontDanny BoyleBryan Sin...
Cast1                Mark Hamill Tim Robbins Ewan McGregor Kevin S...
Cast2                 Harrison Ford  Morgan Freeman  Ewen Bremner ...
Cast3                 Carrie Fisher  Bob Gunton  Jonny Lee Miller ...
Cast4                 Alec Guinness  William Sadler  Kevin McKidd ...
IMDB_score_power                                   26377499904.700001
dtype: object

In [118]:
# Directora görə qruplaşdırın və hər bir rejissorun neçə film çəkdiyini tapın.
# → Ən çox filmi olan ilk 5 rejissoru göstər.
df.groupby('Director').size().sort_values(ascending=False).head(5)

Director
Alfred Hitchcock    222
Stanley Kubrick     199
Steven Spielberg    154
Billy Wilder        145
Martin Scorsese     131
dtype: int64